{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "id": "primary_link_list",
      "type": "link_list",
      "label": "Primary Navigation Menu",
      "default": "main-menu"
    }
  ]
}
{% endschema %}

<nav>
  <a href="/">{{ shop.name | escape }}</a>

  {%- assign primary_link_list = linklists[section.settings.primary_link_list] -%}
  {%- unless primary_link_list == blank -%}

    <ul>
      {%- for link in primary_link_list.links -%}
        {%- assign child_link_list_handle = link.title | handle -%}
        {%- assign child_link_list = linklists[child_link_list_handle] -%}
        {%- if child_link_list and child_link_list.links.size > 0 -%}
          {%- assign has_child_link_list = true -%}
        {%- else -%}
          {%- assign has_child_link_list = false -%}
        {%- endif -%}

        <li>
          <a href="{{ link.url }}">{{ link.title | escape }}</a>

          {%- if has_child_link_list -%}
            <div class="dropdown-menu">
              {%- for child_link in child_link_list.links -%}
                <a href="{{ child_link.url}}">{{ child_link.title | escape }}</a>
              {%- endfor -%}
            </div>
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>

  {%- endunless -%}

  <ul>
    <li class="nav-item">
      <a class="nav-link" href="/search">Search</a>
    </li>

    {%- if shop.customer_accounts_enabled -%}
      {%- if customer -%}
        <li>
          <a href="/account">{{ customer.first_name | escape }}</a>
        </li>
      {%- else -%}
        <li>
          <a href="/account/login">Log in</a>
        </li>
      {%- endif -%}
    {%- endif -%}

    <li>
      <a href="/cart">Cart ({{ cart.item_count }})</a>
    </li>
  </ul>
</nav>
